<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            position:relative;
        }
        .left{
            width:200px;
            height:200px;
            background:#ccc;
            float:left;
        }
        .right{
            /*width:calc(100% - 200px);*/
            height:300px;
            margin-left:200px;
            background-color:#f00;
        }
    </style>
</head>
<body>
<div class="left"></div>
<div class="right"></div>
</body>
</html>