<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var p={
        //x,y是普通可读写的数据属性
        x:1.0,
        y:1.0,

        //r是可读写的存取器属性，它有getter和setter.
        //函数体结束后不要忘记带上逗号
        get r(){
            return Math.sqrt(Math.pow(this.x,2)+Math.pow(this.y,2));
        },
        set r(newValue){
            var oldValue=Math.sqrt(Math.pow(this.x,2)+Math.pow(this.y,2));
            var ratio=newValue/oldValue;
            this.x*=ratio;
            this.y*=ratio;
        },
        //theta是只读存取器属性，它有getter


    };
</script>
</body>
</html>