<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            position:relative;
        }
        .left{
            position:absolute;
            left:0;
            top:0;
            width:200px;
            height: 200px;
            background: #f00;
        }
        
        .right{
            margin-left:200px;
            height:800px;
            background: #000;
        }
    </style>
</head>
<body>
    <div class="left"></div>
    <div class="right"></div>
</body>
</html>