<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    /*console.log(Object.getOwnPropertyDescriptor(window,"undefined"));

    undefined= 1;
    console.log(undefined);*/

    //obj.a="b";

    /*a属性自己的属性的默认值是
    {
        value:"a",
        writable:true,  //默认是true
        configurable:true,  //默认是true
        enumerable:true  //默认是true
    }*/


    function test(){
       var  undefined=2;
        console.log(Object.getOwnPropertyDescriptor(???,"undefined"));
    }
    test();



</script>
</body>
</html>