<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="ctrl">
    <ul>
        <li ng-repeat-start="user in users">{{user.name}}</li>
        <li ng-repeat-end>{{user.age}}</li>
    </ul>
</div>
<script src="../bower_components/angular/angular.min.js"></script>
<script>
    var app=angular.module("app",[]);
    app.controller("ctrl",["$scope",function($scope){
        $scope.users=[
            {
                name:"tongwl",
                age:18
            },{
                name:"zhenzhen",
                age:16
            }
        ];
    }]);
</script>
</body>
</html>