<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            overflow:hidden;
        }
        p{
            float:left;
            width:200px;
            height:200px;
            background:#0f0;
        }

        nav{
            width:400px;
            height:400px;
            background:#f00;
            overflow: hidden;
        }
    </style>
</head>
<body>
<p>浮动起来</p>
    <div>
        <nav>别浮动啊</nav>
    </div>
</body>
</html>