<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .bottom{
            background:yellow;
            width:100px;
            height:100px;
        }

        .top{
            width:100px;
            height:100px;
            position:absolute;
            top:0;
            left:0;
            pointer-events:none;
        }
    </style>
</head>
<body>
    <div class="bottom">
        <a href="http://www.baidu.com">百度</a>
    </div>
    <div class="top"></div>
</body>
</html>