<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash




    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash


    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash


    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash

    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash



    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash



    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash


    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash



    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash

    href
    protocol
    hostname
    port
    host
    origin
    pathname
    search
    hash

    location.assign(url); //跳转
    location.replace(url); //代替
    location.reload(true/false);


    location.assign(url); //跳转
    location.replace(url); //
    location.reload(true/false);


    location.assign(url);
    location.replace(url);
    location.reload(true/false);

    location="http://www.baidu.com";


    history.go(index)
    history.back()
    history.foward()

    <button id="btn">点击</button>

<script>

    window.onclick=function(event){


        //console.log(event.clientY);
        //console.log(event.screenY);
        //console.log(event.clientX);
        //console.log(event.screenX);
        //console.log(event.clientY);
    }

    //console.log(document.documentElement.clientWidth);
    //console.log(document.documentElement.clientHeight);

    /*console.log(screen.width);
    console.log(screen.height);
    console.log(screen.availHeight);
    console.log(screen.availWidth);*/


    /*console.log(screen.width);
    console.log(screen.height);
    console.log(screen.availWidth);
    console.log(screen.availHeight);*/

    /*console.log(navigator.appName);
    console.log(navigator.appVersion);
    console.log(navigator.userAgent);
    console.log(navigator.platform);
    console.log(navigator.onLine);
    console.log(navigator.geolocation);
    console.log(navigator.cookieEnabled);*/

    //console.log(history.length);
    //console.log(window.location==document.location);
    /*console.log(document.URL);
    console.log(location.href);
    console.log(location.protocol);
    console.log(location.hostname);
    console.log(location.port);
    console.log(location.host);
    console.log(location.origin); //只读  writable:false
    console.log(location.pathname);
    console.log(location.search);
    console.log(location.hash);
    console.log(Object.getOwnPropertyDescriptor(location,"origin"));*/

    btn.addEventListener("click",function(event){
        event.preventDefault();
        event.returnValue=false;

        //history.go(0);
        //history.forward();
        //history.back()
        //location.assign("http://www.baidu.com");
        //location.replace("http://www.baidu.com");
        //location.reload(true);

        //location.search=location.search;
    },false);
    //location.assign("http://www.baidu.com");


</script>
</body>
</html>