<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery.js"></script>
</head>
<body>
    <div>
        <span>11111111111</span>
        <span>11111111111</span>
        <span>11111111111</span>
        <span>11111111111</span>
        <span>11111111111</span>
        <b>2222222222222</b>
    </div>
<button type="button" id="btn">点击</button>
    <script>
        btn.addEventListener('click',function(){
            $('span').remove();
        });
    </script>
</body>
</html>