<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery.js"></script>
</head>
<body>
<input type="checkbox" id="r1" checked="haha222" wawa="waw">
<button type="button" id="btn">点击</button>

<input type="text" id="t1" disabled="false">
<script>

    /*console.log($('#t1').attr('disabled'));//disabled
    console.log(t1.getAttribute('disabled'));
    console.log($('#t1').prop('disabled'));*/

    btn.addEventListener("click",function(){
        //console.log(document.getElementById('r1').getAttribute("checked"));
        //console.log(r1.getAttribute('checked'));
        //console.log($('#r1').attr('checked'));
        //console.log($('#r1').attr('wawa'));
    },false);



</script>
</body>
</html>