<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form1">
    <input type="text" id="user1" value="童威立">
    <input type="password" name="pwd">
    <div id="d1">哈哈</div>
</form>

<form id="form2">
    <input type="password" id="pwd1" value="123456">
</form>


<a href="#" id="ha">我是链接1</a>
<a href="#">我是链接1</a>
<a href="#">我是链接1</a>
<a>我只是一个a</a>

<!--<img src="1.jpg" alt="haha">-->
<script>
    /*var forms=document.forms;
    console.log(forms.form1.user1);
    console.log(forms.form1.d1);
    console.log(forms.form1.pwd);*/

    //console.log(document.links);
    //console.log(document.images);
</script>
</body>
</html>