<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form1">
    <input type="text" name="username">
</form>
<button type="button" id="btn" form="form1">点击</button>
<script>
    console.log(history.length);
    btn.addEventListener("click",function(){
        /*location.assign("test7.html");
        location.assign("test7.html");
        location.assign("test7.html");
        location.assign("test7.html");
        location.assign("test7.html");
        location.assign("test8.html");
        location.assign("test7.html");*/
        //location.replace("test7.html");
        //location.assign("test7.html");
        //history.go(0);

        /*console.log(navigator.appName);
        console.log(navigator.appVersion);
        console.log(navigator.userAgent);
        console.log(navigator.onLine);
        console.log(navigator.geolocation);
        console.log(navigator.cookieEnabled);*/

        console.log(screen.width);
        console.log(screen.height);
        console.log(screen.availHeight);
        console.log(screen.availWidth);

        console.log(document.documentElement.clientWidth);
        console.log(document.documentElement.clientHeight);
    },false);
</script>
</body>
</html>