<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="#">haha</a>
<button id="btn" type="button">点击</button>
<script>
    /*console.log(window.location);
    console.log(document.location);
    console.log(document.URL);

    btn.addEventListener("click",function(event){
        //event.preventDefault();
        window.location.hash="#sfds";
        //window.location.search="?username=tongwl";
        console.log(document.URL);
        console.log(window.location.href);
    },false);*/

    btn.onclick=function(){
        console.log(window.document.URL);
        console.log(window.location.href);
    }
</script>
</body>
</html>