<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form1">
    <input type="text" name="username" tabindex="3" value="wawa">
    <input type="password" id="haha" name="haha" tabindex="2">
    <input type="checkbox" name="check" checked="checked" tabindex="1">
    <label for="haha">neirong</label>
</form>
<!--<p id="p1">娃娃</p>
<div id="d1">
    <p class="p2">哈哈</p>
    <p class="p3">哈哈2</p>
</div>
<p id="p4">哼哼</p>
<button type="button" id="btn">按钮</button>-->
    <div id="d1">
        haha
        <p>
            yeah
            <span>haha</span>
        </p>
    </div>

<script>
    var copyDiv=d1.cloneNode(false);
    console.log(copyDiv);
    /*console.log(document.forms.form1.username.value);*/
    /*console.log(document.forms.form1.username.tabIndex);
    console.log(document.forms.form1.username.name);
    console.log(document.forms.form1.querySelector("label").htmlFor);*/
    /*var ps=document.getElementsByTagName("p");
     var pss=document.querySelectorAll("p");
     btn.addEventListener("click",function(){
     var newP=document.createElement("p");
     document.body.appendChild(newP);
     console.log(ps);
     console.log(pss);
     },false);*/

    /*console.log(document.body.parentNode);
     console.log(document.body.parentElement);*/

    /*console.log(document.body.childNodes);
     console.log(document.body.children);*/


    /*console.log(document.body.firstChild);
     console.log(document.body.firstElementChild);
     console.log(document.body.lastChild);
     console.log(document.body.lastElementChild);*/

    /*console.log(p4.nextSibling);
     console.log(p4.nextElementSibling);

     console.log(p4.previousSibling);
     console.log(p4.previousElementSibling);*/


</script>

</body>
</html>