<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red{
            color:#f00;
        }
    </style>
</head>
<body>
    <div id="d1"><!--haha--></div>
    <img src="1.jpg" alt="" id="i1">
    <a href="#">1111</a>
    <a></a>

    <form id="form1">
        <input type="text" name="username">
    </form>

    <div id="d2">
        <label for="p1" id="l1">sdfsdfdsfs</label>
        <p id="p1" class="red" title="haha" tabindex="22">1111111111</p>
        <p id="p2">222222222222</p>
        <span id="s1">ssssssssss</span>
    </div>

    <button id="btn1">点击</button>
<script>



    //console.log(p1.attributes);

    /*var ppp=p1.attributes;
    console.log(ppp[0].name);
    console.log(ppp[0].value);*/



//    var ppp=p1.getAttributeNode("id");
//    console.log(ppp.name);
//    console.log(ppp.value);


    //console.log(p1.hasAttribute("class"));


    //console.log(p1.getAttribute("class"));

    btn1.addEventListener("click",function(event){


        //vcopyNode=p1.cloneNode(true);

        //console.log(d2.removeChild(p1));

        //var newP=document.createElement('p');
        //newP.innerHTML="haha";
        //d2.insertBefore(newP,p1);
        //d2.replaceChild(newP,p1);


        /*var newP=document.createElement('p');
        var newText=document.createTextNode("我是新增的");
        newP.appendChild(newText);
        d2.appendChild(newP);*/

        //event.preventDefault();
        //event.returnValue=false;

        //p1.removeAttribute("class");
        //l1.setAttribute("class","red");

    },false);
    //console.log(l1.htmlFor);

    /*console.log(p1.id);
    console.log(p1.className);
    console.log(p1.title);
    console.log(p1.tabIndex);*/


    /*console.log(document.nodeType); //9
    console.log(document.body.nodeType); //1
    console.log(d1.attributes[0].nodeType); //2
    console.log(d1.firstChild.nodeType); //3
    var frag=document.createDocumentFragment();
    console.log(frag.nodeType);*/

    /*console.log(document.images.i1);
    console.log(document.links);
    console.log(document.forms[0].username);*/

    //console.log(document.defaultView==this);
    //console.log(document.body.ownerDocument);
    /*console.log(document.documentElement); //html
    console.log(document.body);
    console.log(document.head);*/

    //console.log(p1.parentNode==p1.parentElement);
    //console.log(d2.childNodes);
    //console.log(d2.children);
    /*console.log(d2.firstChild);
    console.log(d2.firstElementChild);*/

    /*console.log(d2.lastChild);
    console.log(d2.lastElementChild);*/

    /*console.log(p1.previousSibling);
    console.log(p1.nextSibling);*/

    /*console.log(p2.previousElementSibling);
    console.log(p2.nextElementSibling);*/


</script>
</body>
</html>