<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var  arr=["moc.retsam.6htua","moc.retsam.11htua","moc.retsam.01htua","moc.retsam.3htua"];
    var  arr2=["moc.retsam.11htua","moc.retsam.6htua","moc.retsam.3htua","moc.retsam.01htua"];

    arr.sort(function(prev,next){
        return prev > next;
    });

    arr2.sort(function(prev,next){
        return prev > next;
    });

    console.log(arr);
    console.log(arr2);
</script>
</body>
</html>