<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table td:first-child{
            color:#f00;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>标题1</th>
                <th>标题2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>内容1</td>
                <td>内容2</td>
            </tr>
            <tr>
                <td>内容3</td>
                <td>内容4</td>
            </tr>
            <tr>
                <td>内容5</td>
                <td>内容6</td>
            </tr>
        </tbody>
    </table>
</body>
</html>