<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div>p:nth-of-type(1){
            color:#f00;
        }

        div>p:last-of-type{
            color:#0f0;
        }

        div>p:nth-last-of-type(2){
            color:#00f;
        }
    </style>
</head>
<body>
    <div>
        <div>div</div>
        <p>ppppppppp</p>
        <h1>h1111111111111</h1>
        <h2>h222222222222222</h2>
        <h3>h33333333333333333</h3>
        <h4>h444444444444</h4>
        <p>pppppppppp2ppp2p2</p>
        <h5>h55555555555555555</h5>
        <h6>h666666666666666</h6>
        <h7>h77777777777777</h7>
    </div>
</body>
</html>