<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p:target{
            color:#f00;
        }
    </style>
</head>
<body>
<a href="#p1">p1</a>
<a href="#p2">p2</a>
<a href="#p3">p3</a>
<a href="#p4">p4</a>

<p id="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
<p id="p2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
<p id="p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
<p id="p4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aut commodi, culpa eaque mollitia odit quisquam? Beatae consectetur ducimus iste iure magnam natus neque quas, quisquam sunt voluptas. Doloribus.</p>
</body>
</html>