<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width:400px;
            border:1px solid #f00;
            display:list-item;
        }

        div:first-line{
            color:#f00;
        }

        div:first-letter{
            font-weight:bold;
        }
    </style>
</head>
<body>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur deleniti dolore dolores ducimus eveniet impedit natus obcaecati officia, perspiciatis, placeat porro quos sit vel, veniam. Hic necessitatibus rem ut?</div>
</body>
</html>