<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <hello></hello>
    <div hello></div>
    <div class="hello"></div>
    <!--directive:hello -->
<script src="../js/angular.min.js"></script>
<script>
    var app=angular.module('app',[]);

    //定义指令
    app.directive("hello",function(){
        console.log("hello");
        return {
            restrict:"ACEM",
            templateUrl:"/hello.html",
            priority:1,
            terminate:false,
            replace:true
        };
    });


    //run方法跑在directive前面
    app.run(["$templateCache",function($templateCache){
        $templateCache.put("/hello.html","<div><p>p1</p><h1>h1</h1></div>");
    }]);


</script>


</body>
</html>