<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="1.jpg" alt="" id="img1">
<img src="1.jpg" alt="">

<a href=""></a>
<a href=""></a>
<a></a>


<form action=""></form>

<script>
    console.log(document.images);
    console.log(document.links);
    console.log(document.forms);
</script>
<!--Node
        Document  HTMLDocument
        Attr
        Element   HTMLElement
        CharacterData


    Docuemnt:9
    Element:1
    Attribute:2
    Text:3
    Comment:8
    documentFragment:11-->
</body>
</html>