<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery.js"></script>
</head>
<body>
    <ul>
        <li>11111111111111</li>
        <li>11111111111111</li>
        <li>11111111111111</li>
        <li>11111111111111</li>
        <li>11111111111111</li>
    </ul>
    <ul>
        <li>222222222222222222</li>
        <li>222222222222222222</li>
        <li>222222222222222222</li>
        <li>222222222222222222</li>
        <li>222222222222222222</li>
    </ul>
    <script>
        //$('ul>li:first').css('color','#f00');
        //$('ul>li:first-child').css('color','#0f0');

        //$('ul > li:last').css('color','#f00');
        //$('ul > li:last-child').css('color','#0f0');

        //$('ul > li:even').css('color','#f00');
        //$('ul >li:odd').css('color','#0f0');

        //$('ul >li:lt(6)').css('color','#f00');
    </script>
</body>
</html>