<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            text-transform:uppercase;
        }

        p{
            text-transform: lowercase;
        }
        span{
            text-transform: capitalize;
            text-transform:capitalize;
            text-transform: capitalize;
            text-transform: capitalize;
            text-transform: capitalize;
            text-transform: capitalize;
        }
    </style>
</head>
<body>
    <div>aaaaa</div>
    <p>PPPPPPP</p>
    <span>haha wsdf sdfsd </span>
</body>
</html>