<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Title</title>
    <!-- Bootstrap -->
    <link href="bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="jquery.min.js"></script>
    <script src="bootstrap.js"></script>

    <style>
        p{
            /*border: 1px solid #f6f;*/
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row" style="border: 1px solid #f00;">
        <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
        <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
    </div>
    <div class="row" style="border: 1px solid #0f0;">
        <div class="col-md-6 col-md-offset-3">hahahaha</div>
    </div>

    <h1>h1 Bootstrap heading  <small>我是副标题</small></h1>

    <div>
        <div style="font-size: 18px; line-height: 3;">我是内容</div>
        <div>ssssssssssss</div>
    </div>

    <p>外边距</p>
    <p class="lead">我只是内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>

    <p class="text-center">哈哈哈哈</p>
    <p class="text-left">左边</p>
    <p class="text-right">右边</p>
    <p class="text-justify">啥？</p>
    <div class="row">
        <div class="col-md-1">
            <p class="text-nowrap">对对对对对对对对过电饭锅地方地方地方地方</p>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>第一列</th>
            <th>第二列</th>
            <th>第三列</th>
        </tr>
        <tr>
            <td>11111111111111</td>
            <td>22222222222222222</td>
            <td>333333333333333333</td>
        </tr>

        <tr>
            <td>11111111111111</td>
            <td>22222222222222222</td>
            <td>333333333333333333</td>
        </tr>
    </table>


    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>第一列</th>
                    <th>第二列</th>
                    <th>第三列</th>
                    <th>第四列</th>
                    <th>第五列</th>
                    <th>第六列</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>内容1</td>
                    <td>内容2</td>
                    <td>内容3</td>
                    <td>内容4</td>
                    <td>内容5</td>
                    <td>内容6</td>
                </tr>
                <tr>
                    <td>内容1</td>
                    <td>内容2</td>
                    <td>内容3</td>
                    <td>内容4</td>
                    <td>内容5</td>
                    <td>内容6</td>
                </tr>
                <tr>
                    <td>内容1</td>
                    <td>内容2</td>
                    <td>内容3</td>
                    <td>内容4</td>
                    <td>内容5</td>
                    <td>内容6</td>
                </tr>

            </tbody>
        </table>
    </div>

    <table class="table table-bordered table-hover">
        <caption>我是标题</caption>
        <thead>
            <tr class="active">
                <th>第一列</th>
                <th>第二列</th>
                <th>第三列</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td>内容1</td>
                <td>内容2</td>
                <td>内容3</td>
            </tr>
            <tr class="info">
                <td>内容1</td>
                <td>内容2</td>
                <td>内容3</td>
            </tr>
            <tr class="danger">
                <td>内容1</td>
                <td>内容2</td>
                <td>内容3</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="warning">
                <td>脚本1</td>
                <td>脚本2</td>
                <td>脚本3</td>
            </tr>
        </tfoot>
    </table>


    <form>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="email">
        </div>

        <div class="form-group">
            <label for="inputPwd">Password</label>
            <input type="password" class="form-control" id="inputPwd" placeholder="Password">
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
    </form>

    <form novalidate class="container">
        <div class="form-group row">
            <div class="col-lg-3 text-right">
                <label for="username">姓名</label>
            </div>
            <div class="col-lg-6">
                <input type="text" id="username" class="form-control" placeholder="请输入用户名">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-3 text-right">
                <label for="pwd">密码</label>
            </div>
            <div class="col-lg-6">
                <input type="password" id="pwd" class="form-control" placeholder="请输入密码">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-3 text-right">
                <label for="email">邮箱</label>
            </div>

            <div class="col-lg-6">
                <input type="email" class="form-control" id="email" placeholder="请输入邮箱">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-lg-3 text-right">
                <label for="url">url</label>
            </div>
            <div class="col-lg-6">
                <input type="url" class="form-control" id="url" placeholder="请输入url">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">no-cache</div>
            <div class="col">no-store</div>
            <div class="col">max-age</div>
            <div class="col">public</div>
            <div class="col">private</div>
            <div class="col">Last</div>
        </div>

        <div class="row">
            <div>Last-Modified</div>
            Expires
            Pragma:no-cache
            Cache-Control:no-cache
            Cache-Control:no-store
            Cache-Control:max-age:1000
            Cache-Control:public （可以被任何缓存区缓存）
            Cache-Control:private （不能被代理服务器缓存）

            Last-Modified
            If-Modified-Since

            ETag
            If-None-Match

            Vary:Accept-Encoding
            <div></div>
        </div>



    </form>


    <form novalidate class="container form-inline">
        <div class="form-group">
            <label for="username2">用户名</label>
            <input type="text" class="form-control" id="username2" placeholder="请输入用户名">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password2" placeholder="请输入密码">
        </div>
    </form>

    <form class="container">
        <div class="form-group">
            <div class="input-group">
                <label for="username3" class="input-group-addon">用户名</label>
                <input type="text" class="form-control" id="username3">
                <div class="input-group-addon">个</div>
            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="username4" class="col-lg-3 control-label">用户名</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="username4">
            </div>
        </div>
    </form>

    <input type="checkbox">旋涡
    <form>
        <div class="form-group">
            <label class="checkbox">
                <input type="checkbox"> 我这个复选框是独自一行的
            </label>
            <label class="checkbox">
                <input type="checkbox"> 我这个复选框是独自一行的
            </label>
        </div>
    </form>

    <form>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"> 我这个复选框不是独自占一行的
            </label>

            <label class="checkbox-inline">
                <input type="checkbox"> 我这个复选框不是独自占一行的
            </label>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="selectors" class="col-lg-3 control-label">城市</label>
            <div class="col-lg-6">
                <select name="cities" id="selectors" class="form-control">
                    <option value="1">北京</option>
                    <option value="2">杭州</option>
                    <option value="3">衢州</option>
                    <option value="4">金华</option>
                </select>
            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-3">用户名</label>
            <div class="col-lg-6">
                <div class="form-control-static">童威立</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email3" class="col-lg-3 control-label">邮箱</label>
            <div class="col-lg-6">
                <input type="email" class="form-control" id="email3" placeholder="请输入你的邮箱">
            </div>
        </div>
    </form>


    <form class="form-horizontal">
        <div class="form-group has-success has-feedback">
            <label for="username10" class="col-lg-3 control-label">用户名</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="username10" placeholder="请输入用户名">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
    </form>

    <form>
        <div class="form-group">
            <label for="username44">用户名</label>
            <input type="text" class="form-control" id="username44" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="password44"> 密码</label>
            <input type="password" class="form-control" id="password44" placeholder="请输入密码">
        </div>
    </form>

    <form class="form-inline">
        <div class="form-group">
            <label for="usename55">用户名</label>
            <input type="text" class="form-control" id="usename55" placeholder="请输入用户名">
        </div>

        <div class="form-group">
            <label for="password55">密码</label>
            <input type="text" class="form-control" id="password55" placeholder="请输入密码">
        </div>
    </form>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="username123" class="col-lg-3 control-label">用户名</label>
            <div class="col-lg-6 input-group">
                <input type="text" id="username123" class="form-control">
                <div class="input-group-addon">个</div>
            </div>
        </div>
    </form>

    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam aspernatur culpa doloribus nihil pariatur quas tempora unde voluptates. Aut dicta distinctio dolorum eveniet facilis sapiente, vel voluptatem voluptatum.</p>
    <p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam aspernatur culpa doloribus nihil pariatur quas tempora unde voluptates. Aut dicta distinctio dolorum eveniet facilis sapiente, vel voluptatem voluptatum.</p>
    <p class="text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam aspernatur culpa doloribus nihil pariatur quas tempora unde voluptates. Aut dicta distinctio dolorum eveniet facilis sapiente, vel voluptatem voluptatum.</p>
    <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam aspernatur culpa doloribus nihil pariatur quas tempora unde voluptates. Aut dicta distinctio dolorum eveniet facilis sapiente, vel voluptatem voluptatum.</p>
    <p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam aspernatur culpa doloribus nihil pariatur quas tempora unde voluptates. Aut dicta distinctio dolorum eveniet facilis sapiente, vel voluptatem voluptatum.</p>
    <p class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam aspernatur culpa doloribus nihil pariatur quas tempora unde voluptates. Aut dicta distinctio dolorum eveniet facilis sapiente, vel voluptatem voluptatum.</p>

    <p class="bg-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam debitis distinctio doloremque, ea eveniet hic id inventore iure iusto magnam obcaecati quam, rem similique tempore temporibus veniam? Commodi, veniam.</p>
    <p class="bg-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam debitis distinctio doloremque, ea eveniet hic id inventore iure iusto magnam obcaecati quam, rem similique tempore temporibus veniam? Commodi, veniam.</p>
    <p class="bg-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam debitis distinctio doloremque, ea eveniet hic id inventore iure iusto magnam obcaecati quam, rem similique tempore temporibus veniam? Commodi, veniam.</p>
    <p class="bg-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam debitis distinctio doloremque, ea eveniet hic id inventore iure iusto magnam obcaecati quam, rem similique tempore temporibus veniam? Commodi, veniam.</p>
    <p class="bg-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam debitis distinctio doloremque, ea eveniet hic id inventore iure iusto magnam obcaecati quam, rem similique tempore temporibus veniam? Commodi, veniam.</p>
    <button class="close">&times;</button>
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="caret"></span>

    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>


    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
            Dropdown
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            <li><a href="#">hahaha</a></li>
            <li><a href="#">hahaha</a></li>
            <li><a href="#">hahaha</a></li>
            <li><a href="#">hahaha</a></li>
        </ul>
    </div>


    <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropup
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <span style="display:inline-block;border:4px solid transparent;border-bottom: 4px solid #f00;width:0;height:0;"></span>


    <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
            请点击我
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">121111111111111111111</a></li>
            <li><a href="#">121111111111111111111</a></li>
            <li><a href="#">121111111111111111111</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button class="btn btn-default">内容</button>
        <button class="btn btn-primary">内容2</button>
        <button class="btn btn-info">内容3</button>
        <button class="btn btn-warning">内容4</button>
        <button class="btn btn-danger">内容5</button>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-primary">哈哈</button>
            <button class="btn btn-primary">哈哈</button>
            <button class="btn btn-primary">哈哈</button>
        </div>

        <div class="btn-group">
            <button class="btn btn-primary">哈哈</button>
            <button class="btn btn-primary">哈哈</button>
            <button class="btn btn-primary">哈哈</button>
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-primary">按钮1</button>
        <button class="btn btn-primary">按钮2</button>
        <div class="btn-group dropdown">
            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                点击我呀
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">1111111111</a></li>
                <li><a href="#">1111111111</a></li>
                <li><a href="#">1111111111</a></li>
                <li><a href="#">1111111111</a></li>
            </ul>
        </div>
    </div>

    <div class="btn-group-vertical">
        <button class="btn btn-primary">我是按钮啊</button>
        <button class="btn btn-primary">我是按钮啊</button>
        <button class="btn btn-primary">我是按钮啊</button>
        <button class="btn btn-primary">我是按钮啊</button>
        <button class="btn btn-primary">我是按钮啊</button>
    </div>

    <div class="form-horizontal" style="margin-bottom:100px;">
        <label for="shuliang" class="col-lg-3 control-label">数量</label>
        <div class="col-lg-6 input-group">
            <input type="text" class="form-control" id="shuliang" placeholder="请输入数量">
            <div class="input-group-btn">
                <button class="btn btn-default">按钮</button>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
       <li><a href="#">内容1</a></li>
       <li><a href="#">内容2</a></li>
       <li><a href="#">内容3</a></li>
    </ul>

    <span class="label label-default">default</span>
    <span class="label label-primary">primary</span>
    <span class="label label-success">success</span>
    <span class="label label-info">info</span>
    <span class="label label-warning">warning</span>
    <span class="label label-danger">danger</span>

    <div class="alert alert-success">警告框</div>
    <div class="alert alert-warning">警告框</div>
    <div class="alert alert-danger">警告框</div>
    <div class="alert alert-info">警告框</div>
</div>
</body>
</html>