<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #d1{
            background-color:#ffc;
            margin-bottom:20px;
        }

        #parent{
            overflow: hidden;
        }

        #d2{
            background-color:#cff;
            margin-top:20px;
        }
    </style>
</head>
<body>
<!--在以下情况下会触发bfc:
float不为none;
overflow不为visible;
position为absolute或fixed；
display为inline-block、table-cell、table-caption-->

    <div id="d1">11111111</div>
    <div id="parent">
        <div id="d2">22222222</div>
    </div>
</body>
</html>