<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            height:100px;
            background-color:#ff3;
            -webkit-transition-property: height;
            -moz-transition-property: height;
            -ms-transition-property: height;
            -o-transition-property: height;
            transition-property: height;

            transition-duration:300ms;

            transition-timing-function: ease;
            transition-delay:0s;
        }
        
        div:hover{
            height:400px;
        }
    </style>
</head>
<body>
    <div></div>
</body>
</html>