<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            text-transform:capitalize;
            text-transform:capitalize;
        }
    </style>
</head>
<body>
    <div>i am good job</div>
    <div>capitalize</div>
    <div>capitalize</div>
    <div>capitalize</div>
    <div>capitalize</div>
    <div>capitalize</div>

<blockquote>水电费水电费水电费是的水电费水电费开了房就是的发见识到了分手的距离fsdjfsd放松点放松点水电费放松点开始的就够了是的房价高地方考虑过进来的法感觉是大法官地方</blockquote>

</body>
</html>