<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../bower_components/angular/angular.min.js"></script>
    <script src="../../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <style>
        ul{
           list-style:none;
        }

        ul>li{
            padding:10px 0;
        }
        aside{
            float:left;
            width:200px;
            background:#ff9;
        }

        section{
            margin-left:200px;
            background:#ccc;
        }
    </style>
</head>
<body>
    <div data-ui-view></div>
</body>
</html>