<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /*table,td{
            border:1px solid #f00;
        }*/

        td{
            height:50px;
            vertical-align:bottom;
        }

        table{
            width:300px;
            border-collapse : collapse;
            table-layout:fixed;
        }

        th,td{
            width:50px;
            overflow:hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space:nowrap;
        }
    </style>
</head>
<body>

    <table border="1">
        <tr>
            <td>qqqqqqqqqqq</td>
            <td>wwwwww</td>
            <td>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</td>
        </tr>
    </table>
    <!--<table border="1px solid #000;">
        <thead>
            <tr>
                <th>111111232323232312</th>
                <th>11111112</th>
                <th>11111112</th>
                <th>11111112</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">11</td>
                <td rowspan="3">11</td>
            </tr>
            <tr>
                <td rowspan="3">11</td>
                <td>11</td>
                <td>11</td>
            </tr>
            <tr>
                <td>11</td>
                <td>11</td>
            </tr>
            <tr>
                <td colspan="3">11</td>
            </tr>
        <caption>我是标题</caption>
        </tbody>
    </table>-->
</body>
</html>