<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav></nav>
    <header></header>
    <section></section>
    <article></article>
    <aside></aside>
    <footer></footer>

    <datalist id="list1">
        <option>111111111</option>
        <option>111111111</option>
        <option>111111111</option>
        <option>111111111</option>
    </datalist>

    <form id="form1">
        <input type="email" required autocomplete="on">
        <input type="url" placeholder="请输入url">
        <input type="tel">
        <input type="number" min="0" max="10" step="2">
        <input type="range" min="0" max="100" step="5">
        <input type="date">
        <input type="time" autofocus>
        <input type="datetime">
        <input type="datetime-local">
        <input type="month">
        <input type="week">
        <input type="color">
        <input type="search">
        <input type="text" list="list1">
        <select name="" id="" multiple>
            <option value="1">111</option>
            <option value="1">111</option>
            <option value="1">111</option>
        </select>
    </form>
    <button form="form1">提交</button>

    <progress value="50" min="0" max="100"></progress>
    <meter value="50" max="100" min="0" high="70" low="50" optimum="60"></meter>
    <meter value="50" max="100" min="0" high="70" low="50" optimum="60"></meter>
    <output>输出</output>
    <time datatime="2017-11-30">情人节</time>
    <hgroup>
        <h1>111111111</h1>
        <h1>111111111</h1>
    </hgroup>

    <hgroup>
        <h2>232323</h2>
        <h2>232323</h2>
    </hgroup>

    <mark>我是标记的</mark>

    <details>
        <summary>我是摘要</summary>
        <p>我是内容</p>
        <p>我是内容</p>
        <p>我是内容</p>
        <p>我是内容</p>
    </details>

    <figure>
        <figcaption>title</figcaption>
        <img src="1.jpg" alt="">
    </figure>

    <figure>
        <figcaption>我是图片标题</figcaption>
        <img src="1.jpg" alt="">
    </figure>

    <video src="1.mp4" width="200" height="200" controls muted poster="1.jpg" preload="metadata" loop></video>

    <address>我是地址</address>
    <frameset>
        <frame/>
    </frameset>

    <noframes></noframes>
    <div contenteditable="true">1111</div>
<big></big>
<small></small>
    <div id="d1" data-my-name="tongwl" data-haha="hehe"></div>
    <script>
        console.log(d1.dataset.myName);
        console.log(d1.dataset.haha);
    </script>


</body>
</html>