<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>ui-router</title>
</head>
<body>
    <div>
        <div ui-view></div>
    </div>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script>
    var app=angular.module("app",["ui.router"]);
    app.config(["$stateProvider","$urlRouterProvider",function($stateProvider,$urlRouterProvider){
        $stateProvider.state('start',{
            url:"/start",
            abstract:true,
            templateUrl:"partials/start.html"
        }).state('start.hehe',{
            url:"/hehe",
            templateUrl:"partials/startHehe.html"
        });

        $urlRouterProvider.otherwise("/start/3");

    }]);

    app.controller("startCtrl",["$scope","$stateParams",function($scope,$stateParams){
        $scope.value=$stateParams.value;
    }]);
</script>
</body>
</html>