<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin:0;
            padding:0;
            position: relative;
        }
        div{
            position: relative;
            width:100px;
            height:100px;
            padding:50px;
            border:10px solid #000;
            margin:20px;
            margin-top:1000px;
            background:#ff9;
        }
    </style>
    <script src="jquery.js"></script>
</head>
<body>
    <div id="d">
        <p id='p1'>11</p>
        <span id="s1">sss</span>
        <b id="b1">bbb</b>
        <p id="p2">22</p>
    </div>

    <p id="p3">1111</p>

    <div>
        sdfsdfsfsfsd
    </div>
<script>

    console.log($('p').add($('span')));

    /*var obj={
        uname:"tongwl"
    };

    $.extend.call(obj,{"age":18});
    console.log(obj);*/

    /*console.log(p1.offsetParent);
    console.log(p1.offsetTop);*/

    //console.log($('#p1').offsetParent());

    //$('p').slice(-1).css('color','#f00');

    /*$('p').not(document.getElementById('p1')).css('color','red');*/

    /*$('div').has('p').css('color','#f00');*/
    /*var newArr= $('p').map(function(index,value){
        return value;
    });

    console.log(newArr);*/

    /*$('p').each(function(index,value){
        console.log(index);
        console.log(value); //dom
    });*/

    //console.log($('#p1').is('p'));

    //console.log($('p').filter('div p'));

    /*console.log($('p').first());
    console.log($('p').last());*/

    //console.log($('p')[0]);
    //console.log($('p').eq(0));

    //console.log(p1.parentNode);
    //console.log(d.childNodes);
   /* console.log(d.firstChild);
    console.log(d.firstElementChild);
    console.log(d.lastChild);
    console.log(d.lastElementChild);

    console.log(s1.nextSibling);
    console.log(s1.nextElementSibling);

    console.log(s1.previousSibling);
    console.log(s1.previousElementSibling);*/

    /*console.log($('#d').offset().top);

    window.addEventListener("scroll",function(){
        //console.log($(window).scrollTop());
    },false);*/

    /*console.log($('#d').width()); //100
    console.log($('#d').innerWidth()); //200
    console.log($('#d').outerWidth()); //220
    console.log($('#d').outerWidth(true)); //260

    parent.appendChild(child);
    parent.insertBefore(_new,_old);


    append
    appendTo
    prepend()
    prependTo
    insertAfter
    after
    insertBefore
    before


    node.cloneNode(true)

            .clone(true/false)


    parent.replaceChild(_new,_old)

    repalceAll
    repalceWidth


    parent.removeChild(child)


            .empty
            .remove
            .detach

    wrap


    parentNode
    childNodes
    fisrtChild
    lastChild*/

    /*parentNode      parentElement
    childNodes      children
    firstChild      firstElementChild
    lastChild       lastElementChild
    nextSibling     nextElementSibling
    previousSibling previousElementSibling*/





</script>
</body>
</html>