<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    /*var url=location.href;
    var encodeURI1=encodeURI(url);
    var encodeURIComponent1=encodeURIComponent(url);
    var escape1=escape(url);
    console.log(encodeURI1,encodeURIComponent1,escape1);*/

    /*var num=1/0;
    console.log(num);
    console.log(isFinite(num));*/

    /*var num=1/'a';
    console.log(num);
    console.log(isNaN(num));*/

    /*console.log(Number(""));  //0
    console.log(Number(undefined));  //NaN
    console.log(Number(true)); //1
    console.log(Number(false));  //0
    console.log(Number(null));  //0*/

    /*var num=33;
    console.log(num.toString(2)); */


    var str="111";

    console.log(parseInt(str,2));

    console.log(typeof());


    function void(){

    }

</script>
</body>
</html>