<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, debitis distinctio harum, illum impedit laudantium modi nemo nisi non officiis possimus quae quibusdam repellendus tempora tenetur. Earum quisquam saepe voluptas.</p>
    <figure>
        <figcaption>哈哈哈哈</figcaption>
        <img src="1.jpg" alt="">
    </figure>

<figure>
    <img src="1.jpg" alt="">
    <figcaption>我是标题色是的是多少阿萨德安慰我所是的是多少安全网群无</figcaption>
</figure>
</body>
</html>