<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <input type="email">
    <input type="url">
    <input type="number">
    <input type="range">
    <input type="date">
    <input type="month">
    <input type="week">
    <input type="time">
    <input type="datetime">
    <input type="datetime-local">
    <input type="color">
    <input type="search">
    
    <datalist id="d1">
        <option>111111</option>
        <option>222222</option>
        <option>333333</option>
    </datalist>
    <input type="text" list="d1">

    <progress value="50" min="0" max="100"></progress>

    <meter value="50" min="0" max="100" low="60" high="80" optimum="60"></meter>

    <output></output>

    <hgroup>
        <h1>h11111111111</h1>
        <h2>h22222222222</h2>
        <h3>h33333333333</h3>
        <h4>h44444444444</h4>
    </hgroup>

    <select multiple>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque enim est eveniet ipsa <mark>minima</mark> modi neque nesciunt non, nulla officiis optio placeat tempore, temporibus veritatis vitae? Aperiam eius expedita necessitatibus.</p>

</form>
</body>
</html>