<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <!--<input type="email" name="email">
    <input type="url" name="url">
    <input type="number" min=1 max=18 step=5>
    <input type="date" name="date">
    <input type="month" name="month">
    <input type="week" name="week">
    <input type="time" name="time">
    <input type="datetime-local" name="datetime">-->
    <!--<input type="tel  " name="tel">-->
    <!--<input type="range" name="range" min="1" max="100" value="20">
    <input type="search" name="search">
    <input type="color" name="color">
    <input type="submit" value="提交">-->

    <!--<datalist id="menu">
        <option>哈哈</option>
        <option>呵呵</option>
        <option>花花</option>
    </datalist>

    <input type="text" list="menu">-->

    <input type="range" name="range" min="1" max="100" value="20">
    <progress value="50" min="0" max="100">100%</progress>
    <meter value="60" min="0" max="100" low="31" high="60" optimum="60"></meter>

    <input type="range" valu="50" min="1" max="100" step="20">


    <span id="1">1212</span>
    <span id="2">1212</span>
    <output for="1 2"></output>

</form>
</body>
</html>