<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav></nav>
<aside></aside>
<article></article>
<footer></footer>
<header></header>
    <form id="testForm">
        <input type="email">
        <input type="url">
        <input type="search">
        <input type="number" min="10" max="100" value="50" step="10">
        <input type="range" min="10" max="100" value="50" step="10">
        <input type="color">
        <input type="datetime">
        <input type="date">
        <input type="datetime-local">
        <input type="month">
        <input type="week">
        <input type="time">
        <input type="tel">

        <datalist id="menu">
            <option>哈哈</option>
            <option>哈哈2</option>
            <option>哈哈3</option>
        </datalist>

        <progress value="50" min="10" max="100"></progress>

        <meter value="50" min="10" max="100" low="60" high="80" optimum="70"></meter>

        <input type="text" list="menu">

        <output></output>
        <time></time>
    </form>

    <input type="submit" form="testForm">
</body>
</html>