<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>两列布局</title>
    <style>

        body{
            margin:0;
            padding: 0;
            position: relative;
        }

        .left{
            position: absolute;
            width: 200px;
            height:200px;
            background-color:#fcc;
        }

        .right{
            width:100%;
            height:300px;
            background:#ccf;
            margin-left:200px;
        }
    </style>
</head>
<body>
    <div class="left"></div>
    <div class="right"></div>
</body>
</html>