<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bfc两列布局</title>
    <style>
        body{
            margin:0;
            padding:0;
        }

        .left{
            float:left;
            width:200px;
            height:200px;
            background:#ccf;
        }

        .right{
            width:100%;
            height:300px;
            background:#cfc;
            overflow:hidden;
        }

    </style>
</head>
<body>
    <div class="left"></div>
    <div class="right"></div>
</body>
</html>