<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flex两列布局</title>
    <style>
        body{
            margin:0;
            padding:0;
        }

        .parent{
            display:flex;
        }

        .left{
            width:100px;
            height:200px;
            background:#fcc;
        }

        .right{
            flex:1;
            height:300px;
            background:#ccf;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</body>
</html>