<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box{
            width:120px;
            height:120px;
            display:flex;
            box-shadow:10px 5px 5px 0 #999;
            margin:5px;
            background:#f2f2f2;
            flex-direction: row;
            flex-wrap:wrap-reverse;
            justify-content:center;
            align-items:center;
        }

        .one{
            width:30px;
            height:30px;
            border-radius: 50%;
            background:red;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="one"></div>
    </div>
</body>
</html>