<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    /*function get(len){
        var arr=[];
        for(var i=0;i<len;i++) {
            if (i == 0) {
                arr.push(0);
            } else if (i == 1) {
                arr.push(1);
            } else {
                arr.push(arr[i-1]+arr[i-2]);
            }
        }
        return arr[len-1];
    }

    console.log(get(5));*/

    function log(msg){
        console.log(msg);
    }
    log("msg");

    function test(username){
        console.log(username);
    }

    function test2(a){
        console.log(a);
    }


</script>
</body>
</html>