<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var arr=[{
        "20170915": {
            "131082": {
                "REG_TOTAL_NUM": "173",
                "ACC_TOTAL_NUM": "173",

            },
            "131028": {
                "REG_TOTAL_NUM": "2",
                "ACC_TOTAL_NUM": "2",

            },
            "131022": {
                "REG_TOTAL_NUM": "260",
                "ACC_TOTAL_NUM": "260",

            },
            "131024": {
                "REG_TOTAL_NUM": "31",
                "ACC_TOTAL_NUM": "31",

            },
            "131025": {
                "REG_TOTAL_NUM": "4",
                "ACC_TOTAL_NUM": "4",

            },
            "131002": {
                "REG_TOTAL_NUM": "378",
                "ACC_TOTAL_NUM": "378",

            },
            "131003": {
                "REG_TOTAL_NUM": "346",
                "ACC_TOTAL_NUM": "346",

            },
            "131026": {
                "REG_TOTAL_NUM": "1",
                "ACC_TOTAL_NUM": "1",

            },
            "131023": {
                "REG_TOTAL_NUM": "1362",
                "ACC_TOTAL_NUM": "1331",

            },
            "131081": {
                "REG_TOTAL_NUM": "129",
                "ACC_TOTAL_NUM": "113",

            }
        }
    },
        {
            "20170916": {
                "131082": {
                    "REG_TOTAL_NUM": "252",
                    "ACC_TOTAL_NUM": "252",

                },
                "131028": {


                    "REG_TOTAL_NUM": "0",
                    "ACC_TOTAL_NUM": "0",

                },
                "131022": {
                    "REG_TOTAL_NUM": "0",
                    "ACC_TOTAL_NUM": "0",

                },
                "131024": {
                    "REG_TOTAL_NUM": "0",
                    "ACC_TOTAL_NUM": "0",

                },
                "131025": {
                    "REG_TOTAL_NUM": "0",
                    "ACC_TOTAL_NUM": "0",

                },
                "131002": {
                    "REG_TOTAL_NUM": "538",
                    "ACC_TOTAL_NUM": "538",

                },
                "131003": {
                    "REG_TOTAL_NUM": "332",
                    "ACC_TOTAL_NUM": "332",

                },
                "131026": {
                    "REG_TOTAL_NUM": "0",
                    "ACC_TOTAL_NUM": "0",

                },
                "131023": {
                    "REG_TOTAL_NUM": "0",
                    "ACC_TOTAL_NUM": "0",

                },
                "131081": {
                    "REG_TOTAL_NUM": "0",
                    "ACC_TOTAL_NUM": "0",

                }
            }
        }];
    alert(this["20170915"]["131003"].REG_TOTAL_NUM)
</script>
</body>
</html>