<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    let obj={
        name:"tongwl",
        age:12,
        sex:"男",
        son:{
            username:"haha"
        }
    };

    //let {name,age,sex}=obj;
    //let {name:username,age:nianling}=obj;
    //let {password:pwd}=obj;

    /*let {name:username,name:mz}=obj;
    console.log(username);
    console.log(mz);*/

    //console.log(pwd);
    //console.log(username,nianling);
    //console.log(name,age,sex);

    let {son:{username}} =obj;
    console.log(username);
</script>
</body>
</html>