<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>

        /*var str="1990.11.23";
        var newStr=str.replace(/(\d+)\.(\d+)\.(\d+)/,function(match,$1,$2,$3,index,old){
            console.log(match);
            console.log($1);
            console.log($2);
            console.log($3);
            console.log(index);
            console.log(old);
            return "hehe";
        });*/

        //var newStr=str.replace(/(\d+)\.(\d+)\.(\d+)/,"$1年$2月$3日");
        //console.log(newStr);
        /*var str="@\\u1111";
        console.log(str.search(/\w/));
        console.log("");*/

        /*var str="   ";
        console.log(str.search("."));
        */
        /*var str="192.168.127.120";

        var newStr=str.replace(/\./g,'#');
        console.log(newStr);*/

        /*
        var str="abcbdasefdbsdf";
        var reg=/[bcd]b/;
        var arr=str.match(reg);
        console.log(arr.index);
        console.log(arr.input); //原文
        console.log(arr.input);
        */

        /*var str="dsafzcvadasd";
        console.log(str.toUpperCase());
        console.log(str.toLowerCase());
        */

        /*var str="1,ds,sdf,sd,fs,sdf,sdf,sdf,sdf";
        console.log(str.split(","));*/

        //var str="abceabda";

        /*console.log(str.indexOf('a',0));
        console.log(str.indexOf('a',1));
        console.log(str.lastIndexOf('ab',4));

        console.log(str.search(/a/));
        console.log("ab".concat("bd","d"));*/


        /*console.log(str.substring(0,1));
        console.log(str.substring(-1));  //从0 开始截取到最后
        console.log(str.substring()); //从0 开始截取到最后
        console.log(str.substr()); //从0开始截取到最后*/



        /*console.log(str.slice()); //从0 开始截取
        console.log(str.charAt()); //a*/
        /*console.log(str.charAt(0));
        console.log(typeof str.slice(-2,-1));
        console.log(str.slice(-1));*/





    </script>
</body>
</html>