<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem consequuntur cum et in officia provident quibusdam voluptate! Facilis ipsam laborum necessitatibus nulla quisquam repudiandae voluptate voluptates. Consequuntur, doloribus eveniet.</div>
    <p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto ea est in quam quidem saepe, vitae. Ab consectetur consequuntur ex excepturi fugiat, ipsam laboriosam, non quia quidem reiciendis vero?</p>
    <h1 contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos hic illum nobis quos repellendus soluta suscipit veritatis! Adipisci cumque deleniti eaque earum enim fugit minus nobis quaerat quas quo, recusandae!</h1>
    <h2 contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores dignissimos dolore est excepturi id illo iure iusto laboriosam nam odio pariatur, quidem reprehenderit repudiandae sint tempore! Nostrum, repellendus.</h2>
    <h3 contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, atque dolore earum eligendi enim, illum iste laudantium maxime officiis, qui quo rerum. Dignissimos eaque ipsam magni nesciunt quas sed voluptas!</h3>
    <h4 contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda autem commodi dolores doloribus, eius eligendi eos excepturi hic libero nesciunt nostrum officiis, possimus provident quisquam repudiandae tempore, totam.</h4>
</body>
</html>