<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            display:flex;
            flex-direction:column;
            min-height:100vh;
        }

        header,footer{
            flex-grow:0;
            flex-shrink:1;
            flex-basis:20%;
            background:#333;
        }
    </style>
</head>
<body>
    <header></header>
    <section>
        <main></main>
        <nav></nav>
        <aside></aside>
    </section>
    <footer></footer>
</body>
</html>