<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flex布局</title>
    <style>
        .parent{
            width:100%;
            display:flex;
        }

        .child1{
            width:100px;
            height:200px;
            background:#f99;
        }

        .child2{
            width: 100%;
            height:1000px;
            background:#99c;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="child1"></div>
        <div class="child2"></div>
    </div>
</body>
</html>