<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>required</title>
</head>
<body>
<form action="">
    <input type="text" required="">
    <button>确认</button>
</form>
    <script>
        var cities=['北京','南京','杭州'];
        var picutres={
            'beijing':[
                {
                    proimg:'1.jpg',
                    bgcolor:"#f00",
                },
                {
                    proimg:'2.jpg',
                    bgcolor:"#0f0",
                },
                {
                    proimg:'3.jpg',
                    bgcolor:"#0f0",
                }
            ],
        }
        //最
    </script>
</body>
</html>