<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .btn1{
            display:inline-block;
            text-decoration:none;
            background:#ccc;
            font-size:13px;
        }
        .btn1 cite{
            display:block;
            line-height:26px;
            padding: 0 13px 0 10px;
            background:#f00;
        }
        span{
            padding:3px 10px;
            background:#f00;
            border:1px solid;
        }
    </style>
</head>
<body>
    <a href="javascript:void(0)" class="btn1"><cite>inline-block方法</cite></a>
    <span>呵呵11111111111</span>
</body>
</html>