<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>string方法复习</title>
</head>
<body>
    <script>
        var str="qwqwqwew";
        /*console.log(str.charAt(0));

        //查找字符串位置
        console.log(str.indexOf("qw")); //查找字符串起始的位置,-1为不存在
        console.log(str.lastIndexOf("aa")); //查找字符串最后的位置，-1为不存在
        console.log(str.lastIndexOf("qw",2));
        console.log(str.search("q"));*/

        //截取字符串
        /*console.log(str.slice(-2));
        console.log(str.substring(-1));
        console.log(str.substr(1,2));*/


        /*console.log(str.toUpperCase());
        console.log(str.toLowerCase());

        var arr=str.split("w",3);
        console.log(arr);*/

        //var arr=str.match(/[qw]/g);  //index,input
        //console.log(arr);

        /*var newStr=str.replace(/[qe]/g,function(match){
            console.log(match);
            return "a";
        });*/

        /*Object.defineProperty(window,"aa",{
            value:"bb"
        });
        console.log(Object.getOwnPropertyDescriptor(window,"aa"));*/

        var arr=[1,,,,5];
        console.log(arr);

    </script>
</body>
</html>