<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>两列布局</title>
    <style>
        .left{
            position:absolute;
            width:200px;
            height:200px;
            background:#ff0;
        }

        .right{
            position:absolute;
            width:100%;
            height:200px;
            left:200px;
            background:#0ff;
        }
    </style>
</head>
<body>
    <div class="left"></div>
    <div class="right"></div>
</body>
</html>