<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .top{
            width:200px;
            height:200px;
            background-color:red;
        }
        .center{
            display:block;
            padding:10px;
            background-color:blue;
        }

        .bottom{
            width:200px;
            height:200px;
            background-color:yellow
        }
    </style>
</head>
<body>
    <div class="top"></div>
    <span class="center">我是span</span>
    <div class="bottom"></div>
</body>
</html>