<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
        Array.prototype.sort=function(){

            console.log(this);//this就是arr

            //调用你的冒泡排序大法，啊啊啊啊啊啊啊

            for(var i=0;i<this.length;i++){

            }


            //得到一个新的啊啊啊啊啊，返回回去
            return newArr;
        }

        var arr=[1,4,6,23];
        console.log(arr.sort());

        var arr2=[12,234,345,345,345];
        console.log(arr2.sort());

    </script>
</body>
</html>