<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原型和原型链</title>
</head>
<body>
<script>
//    function Person(){
//
//    }
//    var person=new Person();
//    person.name="tongwl";
//    console.log(person.name);

    function Person(){

    }
    /*Person.prototype.name="hehe";
    var person1=new Person();
    var person2=new Person();
    console.log(person1.name);
    console.log(person2.name);*/

    /*console.log(Person.prototype.__proto__);
    console.log(Person.__proto__);
    console.log(Person.prototype.constructor===Person);


    var person=new Person();
    console.log(Object.getPrototypeOf(person)===Person.prototype);*/


    console.log(Person.prototype);

    /*Person.prototype.name="prototypeName";
    var person=new Person();
    person.name="personName";
    console.log(person.name);


    delete person.name;
    console.log(person.name);

    console.log("true or not:"+(person.toString===person.__proto__.__proto__.toString));

    console.log(Object.prototype.__proto__);
    console.log(Person.prototype.__proto__.__proto__);*/

</script>
</body>
</html>