<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>负的margin值</title>
    <style>
        .parent{
            width:500px;
            height:200px;
            border:1px solid #f00;
            margin-left:200px;
        }

        .child{
            height:100px;
            background:#ff0;
            margin-left:-100px;
            margin-right:-100px;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="child"></div>
    </div>
</body>
</html>